.container {
    background-color: white;
}

#container-1 {
    padding-bottom: 10px;
    background-color: aqua;
}

#container-2, #container-3 {
    padding-bottom: 10px;
    background-color: aqua;
}
body {
background-image: url("../images/dissidia.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Times New Roman', Times, serif;
}